.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-button {
  width: 420px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(159, 6, 159);
  padding: 20px;
  border: 1px solid rgb(225, 5, 225);
  transition: all 0.8s ease-out;
  box-sizing: border-box;
}


.nav-button a {
  color: rgb(254, 212, 219);
}

a:-webkit-any-link {
text-decoration: none;
}

.nav-button:hover {
  background-color: pink;
}

.nav-button:hover a {
  color: rgb(159, 6, 159); 
}

